# git+https://github.com/huggingface/transformers.git
transformers
accelerate
boto3
bs4
flash-attn
google-cloud-storage
google-genai
# hatchet_sdk
imageio_ffmpeg
nltk
openAI
opencv-python
pandas
pgvector
pillow_heif
psycopg
psycopg-binary
psycopg-pool
pyarrow
pymediainfo
pysrt
requests
scenedetect
scipy
sentence_transformers
# vllm
yt-dlp
