# git+https://github.com/huggingface/transformers.git
hatchet_sdk
accelerate
boto3
bs4
google-cloud-storage
google-genai
imageio_ffmpeg
openAI
opencv-python
pandas
pgvector
pillow_heif
psycopg
psycopg-binary
psycopg-pool
pyarrow
pymediainfo
pysrt
requests
scenedetect
scipy
transformers
# vllm
yt-dlp
